
* { margin: 0; padding: 0; }

a { text-decoration: none; }

.center { padding-left: calc(50% - 600px); padding-right: calc(50% - 600px); }

body { font-family: "Montserrat", "Arial"; }

/*Стили для заголовка*/
h1 {
    font-weight: 700; /*bold*/
    font-size: 64px;
    line-height: 100%;
    color: #202027;
}
h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    color: #202027;
}
h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}
/*Стили для текста*/
.text_r { font-size: 24px; font-weight: 400; line-height: 32px; color: #202027; } /*normal=400*/
.text-smb- { font-size: 24px; font-weight: 600; line-height: 32px; color: #202027; }
.text-sm-r  { font-size: 16px; font-weight: normal; line-height: 32px; color: #202027; }


/* !Первый блок */
.top {
    min-height: 800px;
    background-color: #E1FF8F;
    display: flex;
}
.top-content {
    margin-top: 196px;
    margin-bottom: 156px;
    max-width: 769px;
    max-height: 358px;
    &__desc { margin-top: 24px; }
    &__button {
        margin-top: 48px;
        border-color: #202027;
        color: white;
        background-color: #202027;
        min-width: 247px;
        min-height: 66px;
        gap: 10px;
        border-radius: 60px;
        border-width: 1px;
        padding: 16px 28px;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        transition: 0.3s ease;
        &:hover {
            color: black;
            border: 1px solid #000000;
            background-color: #fff;
        }
    }
}
/* Первый блок-Анимация */
.scroll-wrapper {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-height: 90px;
  position: absolute;
  top: 710px;
  left: 0px;
  padding: 27px 49px;
  align-items: center;
  background: #BCEC30;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.scroll-content {
    display: flex;
    gap: 51px;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
}

.scroll-content span {
    font-weight: 700;
    font-size: 30px;
    line-height: 110.00000000000001%;
    letter-spacing: 4%;
    color: #202027;
}
/* Анимация-бесконечная */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* !Об играх */
.about-game {
    display: flex;
    flex-direction: column;
    min-height: 1470px;
    background-color: #202027;
    &__title { color: white; }
    &__desc { margin-top: 24px; color: white;}
    &__content {padding-top: 94px; }
}
/* Об играх-Карточки */
.ag-cards {
    display: flex;
    padding-top: 72px;
    padding-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    &__first-block {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 32px;
    }
    &__second-block {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 32px;
    }

    &__item {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 378px;
    border-radius: 30px;
    color: #202027;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 0;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.1294117647);
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 12px rgb(95, 95, 95);            
            z-index: 5;             
        }  
    }
    &__item-small { min-height: 473px; }
    &__item-norm { min-height: 512px; }
    &__item-big { min-height: 551px; }


    /* Об играх-Карточки(изображение) */
    &__image {
        max-width: 378px;
        max-height: 314px;
        border-radius: 30px;
    }
    &__image img {
        width: 100%;
        height: 100%;
    }

    /* Об играх-Карточки(Описание) */
    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 32px 32px 36px 32px;
        gap: 16px;
    }

    /* Об играх-Карточки(Номер) */
    &__badge {
        display: flex;
        width: 108px;
        height: 36px;
        font-size: 16px;
        font-weight: 500;
        color: #202027;
        background: #F7F7F7;
        align-items: center;
        justify-content: center;
        border-radius: 52.58px;
    }
}

/* !Мини-игры */
.mini-games {
    display: flex;
    flex-direction: column;
    min-height: 1470px;
    background-color: #202027;
    &__content {padding-top: 46px; }    
    &__title { color: white; }
}
/* Мини-игры-Контент-Карточек */
.mg-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 72px;
  margin-bottom: 144px;
}
/* Мини-игры-Карточки */
.mg-item {
  display: flex;
  min-height: 500px;
  color: #202027;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  &__left { flex-direction: row;}
  &__right { flex-direction: row-reverse; }
  &__image {
    flex: 1;
    background-size: cover;
    background-position: center;
    max-height: 500px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 48px;
    width: 600px; 
    &__title{
        font-weight: 700;
        font-size: 48px;
        color: #202027;
    }
    &__desc { padding: 24px 0 36px;}
    &__button {
        width: 180px;
        height: 60px;
        border-radius: 60px;
        background-color: #202027;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        transition: 0.3s ease;
        &:hover {
        color: #202027;
        background-color: #fff;
        border: 1px solid #000;
        }
    }
  } 
}

/*Подвал*/
footer{
    display: flex;
    max-height: 150px;
    background-color: #BDED35;
    justify-content: center;
}
.footer-desc {
    margin: 60px;
}
