@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", "Arial";
}

/*Стили для заголовка*/
h1 {
  font-weight: 700; /*bold*/
  font-size: 64px;
  line-height: 100%;
  color: #202027;
}

h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #202027;
}

h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  color: #000000;
}

/*Стили для текста*/
.text_r {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #202027;
} /*normal=400*/
.text-smb- {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #202027;
}

.text-sm-r {
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  color: #202027;
}

/* !Первый блок */
.top {
  min-height: 800px;
  background-color: #E1FF8F;
  display: flex;
}

.top-content {
  margin-top: 196px;
  margin-bottom: 156px;
  max-width: 769px;
  max-height: 358px;
}
.top-content__desc {
  margin-top: 24px;
}
.top-content__button {
  margin-top: 48px;
  border-color: #202027;
  color: white;
  background-color: #202027;
  min-width: 247px;
  min-height: 66px;
  gap: 10px;
  border-radius: 60px;
  border-width: 1px;
  padding: 16px 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  transition: 0.3s ease;
}
.top-content__button:hover {
  color: black;
  border: 1px solid #000000;
  background-color: #fff;
}

/* Первый блок-Анимация */
.scroll-wrapper {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  align-items: center;
  max-height: 90px;
  background: #BCEC30;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 27px 49px;
  top: 710px;
  left: -30px;
  /* Размытие фона */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.scroll-content {
  display: flex;
  gap: 51px;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.scroll-content span {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 4%;
  color: #202027;
}

/* Анимация-бесконечная */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* !Об играх */
.about-game {
  display: flex;
  flex-direction: column;
  min-height: 1470px;
  background-color: #202027;
}
.about-game__title {
  color: white;
}
.about-game__desc {
  margin-top: 24px;
  color: white;
}
.about-game__content {
  padding-top: 94px;
}

/* Об играх-Карточки */
.ag-cards {
  display: flex;
  padding-top: 72px;
  padding-bottom: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Об играх-Карточки(изображение) */
  /* Об играх-Карточки(Описание) */
  /* Об играх-Карточки(Номер) */
}
.ag-cards__first-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px;
}
.ag-cards__second-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 32px;
}
.ag-cards__item {
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 378px;
  border-radius: 30px;
  color: #202027;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 0;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.1294117647);
}
.ag-cards__item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgb(95, 95, 95);
  z-index: 5;
}
.ag-cards__item-small {
  min-height: 473px;
}
.ag-cards__item-norm {
  min-height: 512px;
}
.ag-cards__item-big {
  min-height: 551px;
}
.ag-cards__image {
  max-width: 378px;
  max-height: 314px;
  border-radius: 30px;
}
.ag-cards__image img {
  width: 100%;
  height: 100%;
}
.ag-cards__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 36px 32px;
  gap: 16px;
}
.ag-cards__badge {
  display: flex;
  width: 108px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  color: #202027;
  background: #F7F7F7;
  align-items: center;
  justify-content: center;
  border-radius: 52.58px;
}

/* !Мини-игры */
.mini-games {
  display: flex;
  flex-direction: column;
  min-height: 1470px;
  background-color: #202027;
}
.mini-games__content {
  padding-top: 46px;
}
.mini-games__title {
  color: white;
}

/* Мини-игры-Контент-Карточек */
.mg-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 72px;
  margin-bottom: 144px;
}

/* Мини-игры-Карточки */
.mg-item {
  display: flex;
  min-height: 500px;
  color: #202027;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.mg-item__left {
  flex-direction: row;
}
.mg-item__right {
  flex-direction: row-reverse;
}
.mg-item__image {
  flex: 1;
  background-size: cover;
  background-position: center;
  max-height: 500px;
}
.mg-item__info {
  display: flex;
  flex-direction: column;
  padding: 48px;
  width: 600px;
}
.mg-item__info__title {
  font-weight: 700;
  font-size: 48px;
  color: #202027;
}
.mg-item__info__desc {
  padding: 24px 0 36px;
}
.mg-item__info__button {
  width: 180px;
  height: 60px;
  border-radius: 60px;
  background-color: #202027;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}
.mg-item__info__button:hover {
  color: #202027;
  background-color: #fff;
  border: 1px solid #000;
}

/*Подвал*/
footer {
  display: flex;
  max-height: 150px;
  background-color: #BDED35;
  justify-content: center;
}

.footer-desc {
  margin: 60px;
}/*# sourceMappingURL=style.css.map */