
* { margin: 0; padding: 0; }

a { text-decoration: none; }

.center { padding-left: calc(50% - 600px); padding-right: calc(50% - 600px); }

body { font-family: "Montserrat", "Arial"; }


h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #202027;
}
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #202027;
}
h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}

.text_r { font-size: 24px; font-weight: 400; line-height: 32px; color: #202027; }
.text-smb- { font-size: 24px; font-weight: 600; line-height: 32px; color: #202027; }
.text-sm-r  { font-size: 16px; font-weight: 400; line-height: 32px; color: #202027; }




top {
    height: 800px;
    background-color: #E1FF8F;
}